.main {
	background-color: #eaf5e6;
	height:	100%;
	margin: 0px;
	padding: 20px;
}

body {
	background-color: #f3f3f3;
	max-width: 58vw;
	margin: auto;
}

h1, ul, li {
	font-family: sans-serif;
	text-align: center;
}

h2, h3, p, ul {
	font-family: sans-serif;
}

ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
}

ul.header {
	background-color: #3b3a30;
	padding:0;
}

ul.header li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	display: inline-block;
}

.content, .image-group {
	background-color: #b2c2bf;
	padding: 20px;
}

.content h2 {
	padding: 0;
	margin: 0;
}

.content li {
	margin-bottom: 10px;
	padding: 10;
}


.import-group button, .image-preview button, .plainTextButtons button, .plainTextButtons input, .latex button {
	background-color: #C0DED9;
	color: #3b3a30;
	cursor: pointer;
	padding: 10px 24px;
	display: inline-block;
	margin: auto;
	min-width: 140px;
	max-width: 212px;
	width: 30vw;
	text-align: center;
}

.preview {
	display: inline-block;
}

.view {
	background-color: #eaf5e6;
	width: 35vw;
	height: 60vh;
	margin: 0;
	padding: auto 10px;
	border: 5px inset #3b3a30;
	border-radius: 2px;
	float: left;
	text-align: center;
}

.editing{

	height: 60vh;
	margin: 0;
	padding: auto auto;
	border: 5px inset #3b3a30;
	border-radius: 2px;
	border-left: 0px;
	float: left;
	text-align: center;
}

.image-tools button {
	background-color: #C0DED9;
	color: #3b3a30;
	cursor: pointer;
	padding: 10px 15px;
	margin: 1vh 1vw;
	min-width: auto;
	width: 8vw;
	text-align: center;
}

.text-tools {
	display: inline-block;
}

.plainText {
	float: left;
}

.plainTextOutput input, .output {
	background-color: #eaf5e6;
	font-family: sans-serif;
	font-size: 5vh;
	width: 30vw;
	height: 8vh;
		
}

.plainTextButtons {
	float: left;
}

.plainTextButtons form {
	display: inline-block;
	text-align: center;
}

.plainTextButtons button, .plainTextButtons input {
	background-color: #C0DED9;
	color: #3b3a30;
	cursor: pointer;
	padding: 10px 15px;
	margin: 10px 1px;
	min-width: auto;
	width: 10vw;
	font-family: sans-serif;
	font-size: 2.3vh;
	text-align: center;
}




